.title-link::before {
  content: attr(title);
  display: inline-block;
  font-weight: bold;
  color: blue;
  margin-right: 4px;
}

.title-link {
  text-decoration: none;
  color: black;
}

.title-link-h::before {
  content: attr(title);
  display: inline-block;
  font-weight: bold;
  color: blue;
  margin-right: 64px;
}

.title-link-h {
  text-decoration: none;
  color: black;
}

.title-link-t::before {
  content: attr(title);
  display: inline-block;
  font-weight: bold;
  color: blue;
  margin-right: 54px;
}

.title-link-t {
  text-decoration: none;
  color: black;
}
/* Blinking animation for pics */
      @keyframes blink-pics-close-m {
        50% {
          opacity: 0;
        }
      }
      .blink {
        animation: blink 0.3s 0.5s infinite;
      }


#sticky-m-h {
      position: fixed;
      right: 0;
      left: 0;
      overflow-x: scroll;
}

.dropdown-menu {
  left: 50% !important;
  transform: translateX(-50%);
}

.crysta-heading {
  display: none;
}
.innova-heading {
  display: none;
}
.ertiga-heading {
  display: none;
}
.dzire-heading {
  display: none;
}
.mini-van-heading {
  display: none;
}
.others-heading {
  display: none;
}

li select {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

li select:focus {
  outline: none;
  border-color: #007bff;
}

.car-container {

display: none;
  position: fixed;
  top: 1;
  left: 0;
  right: 0;
  bottom: 1;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;

}

.car-container-crysta {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.car-container-innova {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.car-container-ertiga {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.car-container-dzire {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.car-container-mini-van {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.car-container-others {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.car-image {
  max-width: 100%;
}

.car-image img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}


.custom-icon {
  font-size: 24px;
  color: blue;
}

.popupContainer-1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.highlight {
  background-color: #f2f2f2;
}
.highlight1 {
  background-color: #ADD8E6; /* replace with your desired color */
  color: #fff; /* set the text color to white for better visibility */
}

/* Styling for button to open popup */
#openPopupBtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Styling for popup container */
.popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.popupContainerCarPics {
display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;

}

/* Styling for the popup window */
.marquee-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #333;
}

marquee {
    position: absolute;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blue;
    opacity: 1;
    text-align: center;
}

.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  text-align: center;
  background-color: pink;
}

.popup-content h5 {
  text-align: center;
}

.popup img {
  max-width: 100%;
  height: auto;
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 34px;
  font-weight: bold;
  cursor: pointer;
}

.container-car-pics-m .close {

display:none;
  position: absolute;
    top: -35px;
    right: 10px;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
}

/* Media queries for mobile devices */
@media (max-width: 767px) {

.center-div {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

}

.text-danger {
    font-weight: bold;
}

.hText{
      color: #FFFFFF; /* Set the text color to a dark color for high contrast */
      font-weight: bold; /* Make the text bold */
      padding: 10px; /* Add padding to the header to make it more visible */
}
}
.hText{
      color: #FFFFFF; /* Set the text color to a dark color for high contrast */
      font-weight: bold; /* Make the text bold */
      padding: 10px; /* Add padding to the header to make it more visible */
}


.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLogo-m {

margin-left: 169px;
}
.headerLogo img {
  margin-right: auto;
  margin-left: 0;
}

.headerLogo .phone .a {
  margin-left: auto;
  margin-right: 0;
}
}

.headerLogo img {
  margin-right: auto;
  margin-left: 0;
}

.headerLogo .phone .a {
  margin-left: auto;
  margin-right: 0;
}

.popupContainer-1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 50;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.container .close {
  position: absolute;
    top: 213px;
    right: 20px;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
}

.container-car-pics .close {
display:none;
  position: absolute;
    top: -30px;
    right: 260px;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
}


.container-1 .close {
  position: absolute;
  top: 60px;
  right: 50px;
  font-size: 34px;
  font-weight: bold;
  cursor: pointer;
}

.marquee-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #333;
}

marquee {
    position: absolute;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blue;
    opacity: 1;
    text-align: center;
}

.popup-1 {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content-1 h5 {
  text-align: center;
}

.popup-1 img {
  max-width: 100%;
  height: auto;
}

  .popup-content-1 {
    width: 100%;
    padding: 10px;
    background-color: pink;
  }

  .popup-1 .close {

    position: absolute;
    top: 15px;
    right: 19px;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
  }

}

/* Blinking animation */
      @keyframes blink {
        50% {
          opacity: 0;
        }
      }
      .blink {
        animation: blink 0.3s 0.5s infinite;
      }


.d-flex {
    min-height: 100vh;
    justify-content: center;
  }
.sticky-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,.05);
  background-color: rgba(255, 255, 255, 0.9); /* use rgba instead of #fff */
}

/* Styles for mobile view */
@media (max-width: 767px) {

/* Blinking animation */
      @keyframes blink {
        50% {
          opacity: 0;
        }
      }
      .blink {
        animation: blink 0.3s 0.5s infinite;
      }

  .menuDServices {
    display: none;
  }

  #mHide {
  display: none;
  }
}

@media screen and (min-width: 768px) {

.center-div {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

}

.dropdown:hover .dropdown-menu {
        display: block;
      }

/* Blinking animation */
      @keyframes blink {
        50% {
          opacity: 0;
        }
      }
      .blink {
        animation: blink 0.3s 0.5s infinite;
      }


.container .close {
  position: absolute;
  top: 90px;
  right: 360px;
  font-size: 34px;
  font-weight: bold;
  cursor: pointer;
  background-image: url("/assets/img/close-icon.PNG");
}

.menuDServices a:hover {
  background-image: url('/assets/img/flag_national.png');
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 10px;
  text-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.dSpanCenter .span {

text-align: center
}

#sticky {
      height: 80px;
      display: block;
      background: light gray;
      position: fixed;
      right: 0;
      left: 0;
      overflow-x: scroll;
}

#callnowbutton {
display:block;
position:fixed;
text-decoration:none;
z-index:2147483647;
width:95%;
left:0;
bottom:0;
height:100px;
}

#dHide {
display: none;
}

.menuDServices {
  display: flex;
  justify-content: flex-end;
}

.menuDServices a {
  margin-left: 20px;
  padding: 22px;
  color: white;
}


  /* styles for desktop devices */
  * {
    box-sizing: border-box;
  }

  .columns {
    float: left;
    width: 100%;
    padding: 8px;
  }

  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }

  .price .header1 {
    background-color: #111;
    color: white;
    font-size: 25px;
  }

  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }

  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }

  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }

  .footer {
    width: 100%;
    background-color: black;
  }
  .footer .col {
    width: 500px;
    height: auto;
    float: right;
    box-sizing: border-box;
    padding: 30px;
  }
  .footer .col h2 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 17px;
    padding: 10px 0;
    color: #FF0063;
    text-transform: uppercase;
  }
  .footer .col ul {
    list-style-type: none;
    padding: 0;
  }
  .footer .col ul li {
    color: white;
    font-size: 15px;
    padding: 5px 0px;
  }
  .address ul li {
    display: inline-block;
    padding-right: 10px !important;
  }

  .footer .col ul li:hover {
    cursor: pointer;
    color: lightgray;
    font-weight: bold;
  }
  .clearfix {
    clear: both;
  }

  .primary-button {
    background-color: #007bff; /* Blue */
    color: #000000; /*  */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .secondary-button {
    background-color: #28a745; /* Green */
    color: #000000; /*  */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

}

.header {
  background-color: #ff6d63;
  padding: 5px 5px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
@media screen and (min-width: 768px) {
.header {
  background-color: #ff6d63;
  padding: 5px 5px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
}

@media screen and (max-width:650px) {

#callnowbutton {
	display:none;
}

#callnowbutton {
display:block;
position:fixed;
text-decoration:none;
z-index:2147483647;
width:95%;
left:0;
bottom:0;
height:100px;
}

.footer {
  width: 100%;
  background-color: black;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}
.footer .col h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 17px;
  padding: 10px 0;
  color: #FF0063;
  text-transform: uppercase;
}
.footer .col ul {
  list-style-type: none;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 12px;
  padding: 5px 0px;
}
.address ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  cursor: pointer;
  color: lightgray;
  font-weight: bold;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1139px) {
  .contain .address {
    width: 1000px;
    display: block;
  }
  .address h2 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h2 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h2 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
@media only screen and (max-width: 1250px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h2 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
ul.dropdown-menu {
    background-color: yellow;
}
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

a {color: #000;}

a:link{text-decoration:none;}

.box1{background: rgb(76, 175, 80, 0.6);}
.box2{background: rgb(192, 192, 200, 0.6);}
.box3{background: rgb(255, 0, 0, 0.6);;}



#author a{
  color: #fff;
  text-decoration: none;

}

thead {
  text-align: center;
  background-color:Violet;
  padding: 8px;

}

@media (max-width: 768px)
.service-box {
    padding: 13px;
}

.service-box {

    background-color: #ffffff;
    font-size: 14px;
    margin: 26px 12px;
    text-align: center !important;
    border-radius: 1%;
}
/* cars list started */
* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header1 {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

/* cars list ended */

.btn {
  background-color: RoyalBlue;
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

/* test */

#sticky {
      height: 60px;
      display: table-row;
      background: light gray;
      position: fixed;
      right: 0;
      left: 0;
      overflow-x: scroll;
}

@media screen and (min-width: 768px) {
#sticky {
      height: 60px;
      display: table-row;
      background: light gray;
      position: fixed;
      right: 0;
      left: 0;
      overflow-x: scroll;
}
}

.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerLogo img {
  margin-right: auto;
  margin-left: 0;
}

.headerLogo .phone .a {
  margin-left: auto;
  margin-right: 0;
}
}

.headerLogo img {
  margin-right: auto;
  margin-left: 0;
}

.headerLogo .phone .a {
  margin-left: auto;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
.hText{
      color: #FFFFFF; /* Set the text color to a dark color for high contrast */
      font-weight: bold; /* Make the text bold */
      padding: 10px; /* Add padding to the header to make it more visible */
}
}
.hText{
      color: #FFFFFF; /* Set the text color to a dark color for high contrast */
      font-weight: bold; /* Make the text bold */
      padding: 10px; /* Add padding to the header to make it more visible */
}

.hText-title{
      color: #FFFFFF; /* Set the text color to a dark color for high contrast */
      font-size: 25px;
      margin: 0;
}

h-nav {
  background-color: #333; /* Set the background color to dark gray */
  color: #fff; /* Set the font color to white */
  text-align: center;
}

h-nav a {
  color: #fff; /* Set the color of nav links to white */
  text-align: center;
}

@media screen and (min-width: 768px) {
.primary-button {
  background-color: #007bff; /* Blue */
  color: #000000; /*  */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.secondary-button {
  background-color: #28a745; /* Green */
  color: #000000; /*  */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
}

.primary-button {
  background-color: #007bff; /* Blue */
  color: #000000; /*  */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.secondary-button {
  background-color: #28a745; /* Green */
  color: #000000; /*  */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
